body {
  background-color: #e0ece4;
  text-align: center;

}
hr {

  border-color: #797a7e;
  border-style: dashed none none none;
  width: 10%;
  border-bottom-width: .2em;

}
h1{
  color: #797a7e;
}
h3{
  color: #797a7e;
}
.center{
  cellspacing: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
ul{
  display: table;
  margin-left: auto;
  margin-right: auto;

}
