body{
  background-image: url("/Users/book/Desktop/website resources/WD3.5 Bacon Fansite Start Here/images/033aa6e5e3e7342a020a666c6ef95602.jpg");
  text-align: center;
}
h1{
  color: white;
}
p{
    color: white;
}
img{
  background-color: red;
}
